<!DOCTYPE html>
<html>
<head>
    <title>Test DB Connection</title>
</head>
<body>
    <header>
        <h1>Test DB Connection from your app on Azure Kubernetes Service</h1>
    </header>
    <br />
    <section>
        <h2>Test Script</h2>
        <br />
        <br />
        <h2>Database</h2>
        <p>
            <a href="https://www.postgresql.org/" target="_blank">PostgresDB</a> is a powerful, open source object-relational database system with over 35 years of active development that has earned it a strong reputation for reliability, feature robustness, and performance.
        </p>
    </section>
    <br />
    <section>
        <h2>Azure Database for PostgreSQL</h2>
        <p>
            <a href="https://azure.microsoft.com/en-ca/products/postgresql" target="_blank">Try Azure Database for PostgreSQL</a> : Focus on application innovation, not database management, with fully managed and intelligent Azure Database for PostgreSQL. Scale your workload quickly with ease and confidence. Enjoy high availability with a service-level agreement (SLA) of up to 99.99 percent uptime and a choice of same-zone or zone-redundant high availability, AI-powered performance recommendations, and built-in enterprise security.
        </p>
    </section>

    <footer>
        <p>
            Kubernetes Service offers powerful tools for managing containerized applications with their DBs.
        </p>
    </footer>
</body>
</html>
