@{
    ViewBag.Title = "Contact us";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <address>
        address here
    </address>

    <address>
        <strong>Team:</strong>   <a href="mailto:me.com">me.com</a><br />
        <strong>POC:</strong> <a href="mailto:me.com">me.com</a>
    </address>
</main>