<!DOCTYPE html>
<html>
<head>
    <title>Test DB Connection</title>
</head>
<body>
    <header>
        <h1>Test DB Connection from your app on Azure Kubernetes Service</h1>
    </header>
    <br />
    <section>
        <h2>Test Script</h2>
        <br />
        <br />
        <h2>Database</h2>
        <p>
            <a href="https://www.microsoft.com/en-us/sql-server/" target="_blank">Microsoft SQL Server</a> is a powerful and robust relational database management system developed by Microsoft. It provides reliable data storage and efficient management for a wide range of applications.
        </p>
    </section>
    <br />
    <section>
        <h2>Azure SQL Database</h2>
        <p>
            <a href="https://azure.microsoft.com/en-us/services/sql-database/" target="_blank">Try Azure SQL Database</a>: Focus on application innovation, not database management, with fully managed and intelligent Azure SQL Database. Scale your workload quickly with ease and confidence. Enjoy high availability with a service-level agreement (SLA) of up to 99.99 percent uptime and a choice of same-zone or zone-redundant high availability, AI-powered performance recommendations, and built-in enterprise security.
        </p>
    </section>

    <footer>
        <p>
            Azure Kubernetes Service offers powerful tools for managing containerized applications with their databases, including Microsoft SQL Server and Azure SQL Database.
        </p>
    </footer>
</body>
</html>
