@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">Containerization with ASP.NET</h1>
        <p class="lead">Containerize ASP.NET applications and deploy them with ease on Docker containers.</p>
        <p><a href="https://asp.net" class="btn btn-primary btn-md">Learn more &raquo;</a></p>
    </section>

    <div class="row">
        <section class="col-md-4" aria-labelledby="gettingStartedTitle">
            <h2 id="gettingStartedTitle">Get Started with Containers</h2>
            <p>
                Containerization allows you to package your ASP.NET applications and their dependencies into lightweight containers, making them highly portable and scalable.
            </p>
            <p><a class="btn btn-outline-dark" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="dockerTitle">
            <h2 id="dockerTitle">Using Docker</h2>
            <p>Docker is a popular containerization platform that simplifies the process of building, sharing, and running containerized applications.</p>
            <p><a class="btn btn-outline-dark" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="deploymentTitle">
            <h2 id="deploymentTitle">Effortless CI/CD to AKS</h2>
            <p>Deploy your containerized ASP.NET applications to the cloud, on-premises, or any environment that supports Docker containers.</p>
            <p><a class="btn btn-outline-dark" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </section>
        <br />
        <br />
        <section class="col-md-4" aria-labelledby="windowsContainersTitle">
            <h2 id="windowsContainersTitle">Windows Containers</h2>
            <p>Run Windows containers on Windows nodes in your container orchestration environment, such as AKS.</p>
            <p><a class="btn btn-outline-dark" href="https://docs.microsoft.com/en-us/virtualization/windowscontainers/">Learn more &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="azureDatabasesTitle">
            <h2 id="azureDatabasesTitle">Azure Databases</h2>
            <p>Leverage Azure's managed database services for your data storage needs. Explore various database options, including SQL databases, NoSQL databases, and more.</p>
            <p><a class="btn btn-outline-dark" href="https://azure.microsoft.com/en-us/services/sql-database/">Learn more &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="githubActionsTitle">
            <h2 id="githubActionsTitle">GitHub Actions Pipelines</h2>
            <p>Automate your software development workflows with GitHub Actions. Create custom CI/CD pipelines to build, test, and deploy your applications directly from your GitHub repositories.</p>
            <p><a class="btn btn-outline-dark" href="https://docs.github.com/en/actions">Learn more &raquo;</a></p>
        </section>
        <br />
        <br />
        <br />
    </div>
</main>
